/* Better base colors */
:root {
  --navy: #001F3F;
  --blue: #0074D9;
  --aqua: #7FDBFF;
  --teal: #39CCCC;
  --olive: #3D9970;
  --green: #2ECC40;
  --lime: #01FF70;
  --yellow: #FFDC00;
  --orange: #FF851B;
  --red: #FF4136;
  --fuchsia: #F012BE;
  --purple: #B10DC9;
  --indigo: hsl(243, 75%, 59%);
  --indigo-wash: hsl(243, 75%, 90%);
  --indigo-tint: hsl(243, 75%, 70%);
  --indigo-shade: hsl(243, 75%, 35%);
  --indigo-shadow: hsl(243, 75%, 05%);
  --maroon: #85144B;
  --white: #FFFFFF;
  --gray: #AAAAAA;
  --cement: #F9F9F9;
  --silver: #DDDDDD;
  --black: #111111;
}

.navy {
  color: var(--navy);
}

.blue {
  color: var(--blue);
}

.aqua {
  color: var(--aqua);
}

.teal {
  color: var(--teal);
}

.olive {
  color: var(--olive);
}

.green {
  color: var(--green);
}

.lime {
  color: var(--lime);
}

.yellow {
  color: var(--yellow);
}

.orange {
  color: var(--orange);
}

.red {
  color: var(--red);
}

.fuchsia {
  color: var(--fuchsia);
}

.purple {
  color: var(--purple);
}

.indigo {
  color: var(--indigo);
}

.maroon {
  color: var(--maroon);
}

.white {
  color: var(--white);
}

.silver {
  color: var(--silver);
}

.gray {
  color: var(--gray);
}

.black {
  color: var(--black);
}

.bg-navy {
  background-color: var(--navy);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-aqua {
  background-color: var(--aqua);
}

.bg-teal {
  background-color: var(--teal);
}

.bg-olive {
  background-color: var(--olive);
}

.bg-green {
  background-color: var(--green);
}

.bg-lime {
  background-color: var(--lime);
}

.bg-yellow {
  background-color: var(--yellow);
}

.bg-orange {
  background-color: var(--orange);
}

.bg-red {
  background-color: var(--red);
}

.bg-fuchsia {
  background-color: var(--fuchsia);
}

.bg-purple {
  background-color: var(--purple);
}

.bg-indigo {
  background-color: var(--indigo);
}

.bg-maroon {
  background-color: var(--maroon);
}

.bg-white {
  background-color: var(--white);
}

.bg-gray {
  background-color: var(--silver);
}

.bg-silver {
  background-color: var(--gray);
}

.bg-black {
  background-color: var(--black);
}

.border--navy {
  border-color: var(--navy);
}

.border--blue {
  border-color: var(--blue);
}

.border--aqua {
  border-color: var(--aqua);
}

.border--teal {
  border-color: var(--teal);
}

.border--olive {
  border-color: var(--olive);
}

.border--green {
  border-color: var(--green);
}

.border--lime {
  border-color: var(--lime);
}

.border--yellow {
  border-color: var(--yellow);
}

.border--orange {
  border-color: var(--orange);
}

.border--red {
  border-color: var(--red);
}

.border--fuchsia {
  border-color: var(--fuchsia);
}

.border--purple {
  border-color: var(--purple);
}

.border--indigo {
  border-color: var(--indigo);
}

.border--maroon {
  border-color: var(--maroon);
}

.border--white {
  border-color: var(--white);
}

.border--gray {
  border-color: var(--silver);
}

.border--silver {
  border-color: var(--gray);
}

.border--black {
  border-color: var(--black);
}

.fill-navy {
  fill: var(--navy);
}

.fill-blue {
  fill: var(--blue);
}

.fill-aqua {
  fill: var(--aqua);
}

.fill-teal {
  fill: var(--teal);
}

.fill-olive {
  fill: var(--olive);
}

.fill-green {
  fill: var(--green);
}

.fill-lime {
  fill: var(--lime);
}

.fill-yellow {
  fill: var(--yellow);
}

.fill-orange {
  fill: var(--orange);
}

.fill-red {
  fill: var(--red);
}

.fill-fuchsia {
  fill: var(--fuchsia);
}

.fill-purple {
  fill: var(--purple);
}

.fill-indigo {
  fill: var(--indigo);
}

.fill-maroon {
  fill: var(--maroon);
}

.fill-white {
  fill: var(--white);
}

.fill-gray {
  fill: var(--silver);
}

.fill-silver {
  fill: var(--gray);
}

.fill-black {
  fill: var(--black);
}

.stroke-navy {
  stroke: var(--navy);
}

.stroke-blue {
  stroke: var(--blue);
}

.stroke-aqua {
  stroke: var(--aqua);
}

.stroke-teal {
  stroke: var(--teal);
}

.stroke-olive {
  stroke: var(--olive);
}

.stroke-green {
  stroke: var(--green);
}

.stroke-lime {
  stroke: var(--lime);
}

.stroke-yellow {
  stroke: var(--yellow);
}

.stroke-orange {
  stroke: var(--orange);
}

.stroke-red {
  stroke: var(--red);
}

.stroke-fuchsia {
  stroke: var(--fuchsia);
}

.stroke-purple {
  stroke: var(--purple);
}

.stroke-indigo {
  stroke: var(--indigo);
}

.stroke-maroon {
  stroke: var(--maroon);
}

.stroke-white {
  stroke: var(--white);
}

.stroke-gray {
  stroke: var(--silver);
}

.stroke-silver {
  stroke: var(--gray);
}

.stroke-black {
  stroke: var(--black);
}

/* Misc vars */
:root {
  --general-border-radius: 0.25rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
textarea,
select {
  padding: 0.5rem;
  border: solid 1px var(--indigo-wash);
  outline: 0;
  font-size: 0.9em;
  width: 100%;
  background: var(--cement);
}

textarea {
  width: 100%;
  height: 150px;
  line-height: 150%;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
  border-color: var(--indigo);
}

label {
  margin-left: 0px;
  color: var(--indigo-shadow);
}

button,
input[type="submit"] {
  cursor: pointer;
  width: auto;
  padding: 9px 15px;
  background: var(--indigo);
  border: 0;
  font-size: 14px;
  color: #FFFFFF;
}

fieldset {
  border: none;
}

.input-errors {
  padding: 0.25rem 0.5rem;
  margin-top: -0.5rem;
  background-color: var(--cement);
  border: 1px solid var(--indigo-wash);
  border-top: 0;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.error-msg {
  font-size: 0.9em;
  color: var(--red);
}