/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* Better base colors */
:root {
  --navy: #001F3F;
  --blue: #0074D9;
  --aqua: #7FDBFF;
  --teal: #39CCCC;
  --olive: #3D9970;
  --green: #2ECC40;
  --lime: #01FF70;
  --yellow: #FFDC00;
  --orange: #FF851B;
  --red: #FF4136;
  --fuchsia: #F012BE;
  --purple: #B10DC9;
  --maroon: #85144B;
  --white: #FFFFFF;
  --gray: #AAAAAA;
  --silver: #DDDDDD;
  --black: #111111;
}

.navy { color: var(--navy); }
.blue { color: var(--blue); }
.aqua { color: var(--aqua); }
.teal { color: var(--teal); }
.olive { color: var(--olive); }
.green { color: var(--green); }
.lime { color: var(--lime); }
.yellow { color: var(--yellow); }
.orange { color: var(--orange); }
.red { color: var(--red); }
.fuchsia { color: var(--fuchsia); }
.purple { color: var(--purple); }
.maroon { color: var(--maroon); }
.white { color: var(--white); }
.silver { color: var(--silver); }
.gray { color: var(--gray); }
.black { color: var(--black); }

.bg-navy { background-color: var(--navy); }
.bg-blue { background-color: var(--blue); }
.bg-aqua { background-color: var(--aqua); }
.bg-teal { background-color: var(--teal); }
.bg-olive { background-color: var(--olive); }
.bg-green { background-color: var(--green); }
.bg-lime { background-color: var(--lime); }
.bg-yellow { background-color: var(--yellow); }
.bg-orange { background-color: var(--orange); }
.bg-red { background-color: var(--red); }
.bg-fuchsia { background-color: var(--fuchsia); }
.bg-purple { background-color: var(--purple); }
.bg-maroon { background-color: var(--maroon); }
.bg-white { background-color: var(--white); }
.bg-gray { background-color: var(--silver); }
.bg-silver { background-color: var(--gray); }
.bg-black { background-color: var(--black); }

.border--navy { border-color: var(--navy); }
.border--blue { border-color: var(--blue); }
.border--aqua { border-color: var(--aqua); }
.border--teal { border-color: var(--teal); }
.border--olive { border-color: var(--olive); }
.border--green { border-color: var(--green); }
.border--lime { border-color: var(--lime); }
.border--yellow { border-color: var(--yellow); }
.border--orange { border-color: var(--orange); }
.border--red { border-color: var(--red); }
.border--fuchsia { border-color: var(--fuchsia); }
.border--purple { border-color: var(--purple); }
.border--maroon { border-color: var(--maroon); }
.border--white { border-color: var(--white); }
.border--gray { border-color: var(--silver); }
.border--silver { border-color: var(--gray); }
.border--black { border-color: var(--black); }

.fill-navy { fill: var(--navy); }
.fill-blue { fill: var(--blue); }
.fill-aqua { fill: var(--aqua); }
.fill-teal { fill: var(--teal); }
.fill-olive { fill: var(--olive); }
.fill-green { fill: var(--green); }
.fill-lime { fill: var(--lime); }
.fill-yellow { fill: var(--yellow); }
.fill-orange { fill: var(--orange); }
.fill-red { fill: var(--red); }
.fill-fuchsia { fill: var(--fuchsia); }
.fill-purple { fill: var(--purple); }
.fill-maroon { fill: var(--maroon); }
.fill-white { fill: var(--white); }
.fill-gray { fill: var(--silver); }
.fill-silver { fill: var(--gray); }
.fill-black { fill: var(--black); }

.stroke-navy { stroke: var(--navy); }
.stroke-blue { stroke: var(--blue); }
.stroke-aqua { stroke: var(--aqua); }
.stroke-teal { stroke: var(--teal); }
.stroke-olive { stroke: var(--olive); }
.stroke-green { stroke: var(--green); }
.stroke-lime { stroke: var(--lime); }
.stroke-yellow { stroke: var(--yellow); }
.stroke-orange { stroke: var(--orange); }
.stroke-red { stroke: var(--red); }
.stroke-fuchsia { stroke: var(--fuchsia); }
.stroke-purple { stroke: var(--purple); }
.stroke-maroon { stroke: var(--maroon); }
.stroke-white { stroke: var(--white); }
.stroke-gray { stroke: var(--silver); }
.stroke-silver { stroke: var(--gray); }
.stroke-black { stroke: var(--black); }

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

/* Misc vars */

:root {
  --general-border-radius: 0.25rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
