@import './base.css';
@import './utils.css';

body {
  background-color: var(--indigo);
}

#app {
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--indigo);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}